.details{
    background-color: aqua;
    height: 600px;
    width: 100%;
}
p{
    color: red;
    text-align: center;
}
h1{
  color: rgb(128, 9, 48);
  text-align: center;
  position: relative;
}
h1:after{
    content:" " ;
    position: absolute;
    display: block;
    width: 20%;
    height: 2px;
    background-color: whitesmoke;
    left: 40%;
    bottom: 0;
}